p{
  font-size: 24px;
}


.headerStyle{

  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #999999;
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size:30px;
}

.filler{
  height: 200vh;
}
.topfiller{
  height: 50px;
}
